@charset "UTF-8";
/*默认样式的清除*/
body, ul, ol, dl, dd, p, h1, h2, h3, h4, h5, h6, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol, input, button {
  padding: 0;
}

input, button, textarea {
  border: 0;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

/*基础样式重新设置*/
Html {
  -ms-text-size-adjust: 100%;
}

/*定义基础字体字号字色*/
body, input, button, textarea {
  font-family: "Microsoft YaHei", "微软雅黑", "San Francisco", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB",  Arial, sans-serif;
  font-size: 12px;
  color: #30404F;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rt {
  float: right;
}

.lf {
  float: left;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
